*{
    padding: 0;
    margin: 0;
}
/*
html{
    min-height: 100%;
}*/
body{
    background: #7474BF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #348AC7, #7474BF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #348AC7, #2626a9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: no-repeat;
}

body a{
    text-decoration-line: none;
}

.container-nav{
    margin-top: -42px;
}

nav{
    margin: auto;
    margin-top: 15px;
    padding: 5px;
    width: 90%;
    height: 60px;
    display: block;
    position: auto;
    border-radius: 15px;
    background: white;
}
.logo{
    padding-top: 10px;
    padding-left: 20px;
    width: 175px;
    height: 40px;
}

.iconos_nav{
 
    width: fit-content;
    color: blue;
    float: right;
    justify-content: center;
    font-size: 35px;
    text-align: right;
    margin-top: -37px;
    margin-right: 20px; 
}

.container-btn-nav{
    
    margin-left: 850px;
    
    margin-top: -33px;

    
}



.btn-nav{
 
    font-size: 22px;
    font-weight: bold;
    
    padding: 6px;
    
    border-style: none;
    border-radius: 8px;
   
   
}




.title{
    margin: 40px;
    text-align: center;
    color: white;
    font-size: 45px ;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.title-text-rigth{
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: auto;
    border-bottom: rgba(0, 0, 0, 0.268) 1px solid;

    
}
.text-rigth{
    
    background: white;
    border-radius: 30px;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    
    text-align: center;
    
    padding: 5px;
    margin-top: 45px;
    margin: auto;
    width: 90%;

    
    
}

.text-rigth p{
  

    margin: 15px;
    
}

.cursos-h1{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif; 
    font-size: 40px;
    margin: 25px 0px 25px 500px;
  
}

.cursos-disponibles{
    margin-left: -215px;
 
    
}

.contenedor-fig1{
    width: 18%;
    display: flex;
    margin-left: 280px;
    margin-top: 25px;
    height: 25vh;
    
        
}
/*imagen diplomatura de software*/
.contenedor-fig1 figure{
    position: relative;
    background-color: white;
    border: white 5px solid;
    width: 290px;
    height: 180px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25xp rgba(0, 0, 0, 0.50);
    cursor: pointer;
}

.contenedor-fig1 figure img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}

.contenedor-fig1 figure .capa{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

figure:hover> .capa{
    opacity: 1;
    visibility: visible;
}

figure:hover> .capa h2{
    margin-top: 50px;
    margin-bottom: 25 px;
}

figure:hover>img{
    transform: scale(1.3);
}

figure .capa h2{
    color: white;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    margin-bottom: 120px;
    transition: all 500ms ease-out;
    margin-top: 300px;
}

figure .capa p{
    color: white;
    font-size: 15px;
    width: 100%;
    margin: auto;
}
/*imagen backend*/
.contenedor-fig2{
    width: 18%;
    display: flex;
    margin-left: 590px;
    margin-top: -156px;
    height: 25vh;
         
}
.contenedor-fig2 figure{
    position: relative;
    background-color: white;
    border: white 5px solid;
    width: 290px;
    height: 180px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25xp rgba(0, 0, 0, 0.50);
    cursor: pointer;
}

.contenedor-fig2 figure img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}

.contenedor-fig2 figure .capa{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.contenedor-fig2 figure:hover> .capa{
    opacity: 1;
    visibility: visible;
}

.contenedor-fig2 figure:hover> .capa h2{
    margin-top: 70px;
    margin-bottom: 25 px;
}

.contenedor-fig2 figure:hover>img{
    transform: scale(1.3);
}

.contenedor-fig2 figure .capa h2{
    color: white;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    margin-bottom: 120px;
    transition: all 500ms ease-out;
    margin-top: 300px;
}

.contenedor-fig2 figure .capa p{
    color: white;
    font-size: 15px;
    width: 100%;
    margin: auto;
}

/*imagen frontend*/

.contenedor-fig3{
    width: 18%;
    display: flex;
    margin-left: 905px;
    margin-top: -157px;
    height: 25vh;
   
        
}
.contenedor-fig3 figure{
    position: relative;
    background-color: white;
    border: white 5px solid;
    width: 290px;
    height: 180px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25xp rgba(0, 0, 0, 0.50);
    cursor: pointer;
}

.contenedor-fig3 figure img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}

.contenedor-fig3 figure .capa{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.contenedor-fig3 figure:hover> .capa{
    opacity: 1;
    visibility: visible;
}

.contenedor-fig3 figure:hover> .capa h2{
    margin-top: 70px;
    margin-bottom: 25 px;
}

.contenedor-fig3 figure:hover>img{
    transform: scale(1.3);
}

.contenedor-fig3 figure .capa h2{
    color: white;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    margin-bottom: 120px;
    transition: all 500ms ease-out;
    margin-top: 300px;
}

.contenedor-fig3 figure .capa p{
    color: white;
    font-size: 15px;
    width: 100%;
    margin: auto;
}

/*imagen base de datos*/

.contenedor-fig4{
    width: 18%;
    display: flex;
    margin-left: 1220px;
    margin-top: -157px;
    height: 25vh;
   
        
}
.contenedor-fig4 figure{
    position: relative;
    background-color: white;
    border: white 5px solid;
    width: 340px;
    height: 180px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25xp rgba(0, 0, 0, 0.50);
    cursor: pointer;
}

.contenedor-fig4 figure img{
    width: 100%;
    height: 100%;
    
    transition: all 500ms ease-out;
}

.contenedor-fig4 figure .capa{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.contenedor-fig4 figure:hover> .capa{
    opacity: 1;
    visibility: visible;
}

.contenedor-fig4 figure:hover> .capa h2{
    margin-top: 50px;
    margin-bottom: 25 px;
}

.contenedor-fig4 figure:hover>img{
    transform: scale(1.3);
}

.contenedor-fig4 figure .capa h2{
    color: white;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    margin-bottom: 120px;
    transition: all 500ms ease-out;
    margin-top: 300px;
}

.contenedor-fig4 figure .capa p{
    color: white;
    font-size: 15px;
    width: 100%;
    margin: auto;
}

.cursos-disponibles footer{
    width: 100%;
    margin-top: 4%;
}







