*{
    padding: 0;
    margin: 0;
}

body{
    background: #7474BF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #348AC7, #7474BF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #348AC7, #2626a9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   
}

.container-nav{
    margin-top: -42px;
}



nav{
    margin: auto;
    margin-top: 15px;
    padding: 5px;
    width: 90%;
    height: 60px;
    display: block;
    position: auto;
    border-radius: 15px;
    background: white;
}
.logo{
    padding-top: 10px;
    padding-left: 20px;
    width: 175px;
    height: 40px;
}

.iconos_nav{
 
    width: fit-content;
    color: blue;
    float: right;
    justify-content: center;
    font-size: 35px;
    text-align: right;
    margin-right: 20px; 
}

.btn-nav{
 
    font-size: 22px;
    font-weight: bold;
    
    padding: 6px;
    
    border-style: none;
    border-radius: 8px;
}





container-form {
    width: 90%;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    transition:  all .5s ease-out;
   
}

.message {
    padding: 15px;
}

.message h2 {
    font-size: 1.7rem;
    padding: 1rem 0;
    color: white;
    font-weight: bold;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 570px;
}

.message p {
    font-size: 1.7rem;
    padding: 5px;
    color: white;
    font-weight: bold;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 350px;
}

.message button {
    font-weight: 400;
    font-size: 25px;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 6px;
    background-color: aquamarine;
    border-radius: 2rem;
    border: black solid 1px;
    outline: none;
    cursor: pointer;
    margin-top: 30px;
    margin-left: 595px;
    transition: all .3s ease-in;
    color: black;
}

.message button:hover {
  
    background-color: #6464f8;
  }



.formulario {
    width: 500px;
    margin: 20px;
    padding-bottom: 40px;
    margin-left: 460px;
    background-color: rgb(68, 67, 67);
    border-radius: 50px;
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
     border-radius: 50px;
}

.create-account {
    padding: 2.7rem 0;
    font-size: 1.7rem;

}




.formulario input {
    width: 70%;
    display: block;
    margin: auto;
    margin-bottom: 2rem;
    background-color: transparent;
    border: none;
   
    border-bottom: white solid 2px;
    text-align: center;
    outline: none;
    padding: .2rem 0;
    font-size: .9rem;
    color: white;
}



.formulario input[type="button"] {
    width: 60%;
    margin: auto;
    border: solid thin white;
    padding: .7rem;
    border-radius: 2rem;
    background-color: #4dff00;
    font-weight: 600;
    margin-top: 3rem;
    font-size: 20px;
    cursor: pointer;
    color: #222;
}

.formulario input[type="button"]:hover {
    background-color: #6464f8;
}



.formulario input[type="text"] {
  font-size: 25px;
}

.formulario input[type="email"] {
    font-size: 25px;
  }

  .formulario input[type="password"] {
    font-size: 25px;
  } 









  
  

