*{
    padding: 0;
    margin: 0;
}

body{
    background: #7474BF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #348AC7, #7474BF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #348AC7, #2626a9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   
}

.container-nav{
    margin-top: -42px;
}

nav{
    margin: auto;
    margin-top: 15px;
    padding: 5px;
    width: 90%;
    height: 60px;
    display: block;
    position: auto;
    border-radius: 15px;
    background: white;
}
.logo{
    padding-top: 10px;
    padding-left: 20px;
    width: 175px;
    height: 40px;
}

.iconos_nav{
 
    width: fit-content;
    color: blue;
    float: right;
    justify-content: center;
    font-size: 35px;
    text-align: right;
    margin-right: 20px; 
}

.btn-nav{
 
    font-size: 22px;
    font-weight: bold;
    
    padding: 6px;
    
    border-style: none;
    border-radius: 8px;
}

.video{
    margin-left: 65px;
    margin-top: 25px;
    
     
     
 }

.text-info {
    margin-top: -500px;
    margin-left: 675px;
    display: flex;
    align-items:flex-start ;
    justify-content:flex-start ;
  }
  
  a, a:focus, a:hover, a:active, a:visited {
    color: inherit;
    text-decoration: none;
  }
  
  .Link {
    filter: drop-shadow(0 1em 1em rgba(#000, .16));
    font-size: 15px;
    max-width: 550px;
    padding: 2em 2.4em;
    position: relative;
    transform: translateZ(0);
  }
  
  .Link::before,
  .Link::after {
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    content: ' ';
    display: block;
    position: absolute;
    transform-origin: right;
    transition: transform 500ms;
    width: 100%; 
    height: 100%;
    top: 0; left: 0;
    z-index: -1;
  }
  
  .Link::after {
    background-color: #444;
    transform: scaleX(0);
    transition-duration: 450ms;
  }
  
  .Link-title {
    background-image:
      linear-gradient(0deg, #ddd, #000),
      linear-gradient(0deg, #fff, #fff),
    ;
    background-size: 0 2px, 0 100%;
    background-position: 8px calc(1em + 8px), 0 0;
    background-repeat: no-repeat;
    box-decoration-break: clone;
    display: inline;
    font-size: 30px;
    font-weight: bold;
    color: rgb(0, 208, 255);
    padding: 6px 8px;
    margin-left: -8px;
    pointer-events: none;
    line-height: 1.75; 
    /*text-shadow: 1px 1px 0 #fff, -1px 1px 0 #fff;*/
    transition: background ease-out 500ms;
  }
  
  .Link:hover > .Link-title {
    background-size: calc(100% - 16px) 2px, 100% 100%;
    transition-duration: 200ms;
  }
  
  .Link:hover::before {
    transform: scaleX(0);
    transition-duration: 450ms;
    transition-timing-function: ease-in-out;
  }
  
  .Link:hover::after {
    transform:  scaleX(1);
    transition-duration: 700ms;
    transition-timing-function: ease-in-out;
    transform-origin: left;
  }


  
  

